---
interface Props {
  name: string;
  url: string;
  isBig?: boolean;
}

const { name, url, isBig = false } = Astro.props;

const getPokemonId = (url: string) => {
  const urlParts = url.split("/");
  return urlParts[urlParts.length - 2];
};


const srcImage = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${getPokemonId(url)}.png`

---

<a 
  href=`/pokemons/${name}`
  class:list={[`p-4 rounded-lg`, { 'bg-slate-900 shadow-lg': !isBig }]}
  >
    <img transition:name={`${name}-image`} src={ srcImage } alt={name} class="w-full object-cover rounded-lg">
    <h2 class:list={[`font-bold text-center capitalize`, {'text-3xl': isBig, 'text-xl': !isBig}]}>#{getPokemonId(url)} - {name}</h2>
</a>